.root {
    -fx-background-color: #363636;
    -fx-border-color: #272727;
}


.gridPane {
    -fx-background-color: #363636;

}

.anchorPane {
    -fx-background-color: #363636;
}

.split-pane {
    -fx-background-color: #363636;
}

.split-pane > .split-pane-divider {
    -fx-background-color: #626262;
}

.button {
    -fx-background-color: #489853;
    -fx-border-color: #3c7f45;
    -fx-text-fill: #1d1d1d;
}



.button:hover {
    -fx-background-color: #35703d;
    -fx-border-color: #28552e;
}


.table-view {
    -fx-background-color: #363636;
    -fx-control-inner-background: #363636;
    -fx-border-color: #8b8b8b;
}

.table-view .column-header .label {
    -fx-background-color: #8b8b8b;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .column-header{
    -fx-background-color: #8b8b8b;
}

.table-column {
    -fx-border-color: #404040;
}

.table-row-cell:selected {
    -fx-background-color: #4c7192;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-row-cell:hover {
    -fx-background-color: #2e2e2e;
}

.tool-bar {
    -fx-background-color: #363636;

}

.text-field {
    -fx-background-color: #616161;
    -fx-text-fill: white;
}

.text-field:focused {
    -fx-border-color: #489853;
}

.text-area {
    -fx-control-inner-background: #616161;
    -fx-text-fill: white;
}

.text-area:focused {
    -fx-border-color: #489853;
}

.list-view {
    -fx-control-inner-background: #616161;
    -fx-text-fill: white;
}

.list-view:focused {
    -fx-border-color: #489853;
}

.label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #616161;
    -fx-text-fill: white;
}

.menu {
    -fx-background-color: #616161;
    -fx-text-fill: white;
}

.menu:hover {
    -fx-background-color: #525252;
}

.menu-item {
    -fx-background-color: #616161;
    -fx-text-fill: white;
}

.finished {
    -fx-background-color: rgb(53,109,48);
}
.finished:hover{
    -fx-background-color: rgb(42, 87, 38);
}
.finished:focused {
    -fx-background-color: #4c7192;
}

.unfinished {
    -fx-background-color: rgb(156,156,59);
}
.unfinished:hover {
    -fx-background-color: rgb(112, 112, 43);
}
.unfinished:focused {
    -fx-background-color: #4c7192;
}

.invalidFields {
    -fx-background-color: rgb(157,57,68);
}
.invalidFields:focused {
    -fx-background-color: rgb(132, 48, 57);
}
.invalidFields:hover {
    -fx-background-color: #4c7192;
}

.allFields {
    -fx-background-color: rgb(108,139,68);
}
.allFields:focused {
    -fx-background-color: rgb(82, 105, 51);
}
.allFields:hover {
    -fx-background-color: #4c7192;
}

.listToLong {
    -fx-text-fill: #d44c3d
}

.listToShort {
    -fx-text-fill: #fafafa
}

.emptyField {
    -fx-border-color: #ffff65;
}

.errorField {
    -fx-border-color: #d44c3d;
}