.root {
    -fx-background-color: #363636;
    -fx-border-color: #272727;
}


.gridPane {
    -fx-background-color: #363636;

}


.anchorPane {
    -fx-background-color: #363636;
}

.split-pane {
    -fx-background-color: #363636;
}

.button {
    -fx-background-color: #489853;
    -fx-border-color: #3c7f45;
    -fx-text-fill: #1d1d1d;
}


.table-view {
    -fx-background-color: #363636;
    -fx-control-inner-background: #363636;
    -fx-border-color: #464646;
}

.table-view .column-header .label {
    -fx-background-color: #8b8b8b;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .column-header{
    -fx-background-color: #8b8b8b;
}

.column {

}

.table-column {
    -fx-border-color: #404040;
}


.tool-bar {
    -fx-background-color: #363636;

}

.text-field {
    -fx-background-color: #616161;
    -fx-text-fill: white;
}

.text-field:focused {
    -fx-border-color: #489853;
}

.text-area {
    -fx-control-inner-background: #616161;
    -fx-text-fill: white;
}

.text-area:focused {
    -fx-border-color: #489853;
}

.list-view {
    -fx-control-inner-background: #616161;
    -fx-text-fill: white;
}

.list-view:focused {
    -fx-border-color: #489853;
}

.label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #616161;
    -fx-text-fill: white;
}

.menu {
    -fx-background-color: #616161;
    -fx-text-fill: white;
}

.menu:hover {
    -fx-background-color: #525252;
}

.menu-item {
    -fx-background-color: #616161;
    -fx-text-fill: white;
}
